body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  color: grey;
  font-size: 1.2rem;
  justify-content: space-between;
  border-bottom: 2px solid rgba(38, 38, 38, 0.3);
}

.nav-wrapper .brand-logo {
  margin-left: 1rem;
}

#nav-mobile {
  display: flex;

}

#nav-mobile1 {
  display: flex;
}

#nav-mobile li {
  list-style: none;
  padding: 0 1.5rem;
}

#nav-mobile a {
  color: rgba(128, 128, 128, 1);
  margin: 0 1rem;
  text-decoration: none;
}

#nav-mobile a:hover{
    color:  rgb(96, 244, 96);
    transition: 0.2s;
}

button{
color: white;
font-size: 1rem;
width: 139px;
height: 50px;
left: 1102px;
top: 41px;
background: #262626;
border-radius: 3px;
cursor: pointer;
}

#login:hover{
    background-color: rgb(96, 244, 96);
    color: white ;
    transition: 0.2s;
    cursor: pointer;
}

#login{
color: #262626 ;
font-size: 1rem;
width: 139px;
height: 50px;
left: 1102px;
top: 41px;
background: white;
border-radius: 3px;

}

@media (max-width: 992px) {
  .nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  #nav-mobile {
    flex-direction: column;
  }
  #nav-mobile a {
    margin: 0.5rem 0;
  }
}
